* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  font: inherit;
}

.hidden {
  display: none;
}

.game {
  width: 400px;
  background-color: tomato;
  border-radius: 20px;
  padding: 10px;
  margin: 20px auto;
}

.wrapper {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.player__choose {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.item {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: tomato;

  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.item:hover {
  background-color: red;
}

.item__choosen {
  background-color: red;
}

.start__box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.btn__start,
.btn__reset {
  background-color: tomato;
  padding: 5px 20px;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  opacity: 0.8;
  margin-right: 10px;
}

.btn__start:hover,
.btn__reset:hover {
  background-color: red;
}

.player__result-box,
.comp__result-box,
.game__result-box {
  display: flex;
  margin-top: 10px;
}

.player__figure,
.comp__figure,
.result {
  margin-left: 5px;
}
